.formContainer-fav {
    background: url(../../images/sit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px;
  }

  .no-trainings{
    font-family: 'Nanum Brush Script', cursive;
    color: yellow;
    font-size: 75px;
    text-shadow: 2px 2px #ee0000;
    align-self: baseline;
    text-align: center;
  }