.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-wraper {
    color: white;
    max-width: 700px;
    word-break: keep-all;
    margin: 10px;
    
    flex-wrap: wrap;
}

.tittle-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-details{
    margin-top: 0;
    font-size: 18px;
}

.btn-fav{
    height: 32px;
    color:black;
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 8px;
}

.img-details {
    max-width: 340px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}


.react-player {
    position:absolute;
    width: 100% !important;
    height: 100% !important;
    
}

.player-container{
    position: relative;
    height: 400px;
    width: 100%;
    border-top: 4px solid yellow;
    
}