.formContainer-catalog {
  background: url(../../images/sit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 80px;
}

.nav-links-catalog{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-self: baseline;
  margin-bottom: 30px;
}

.links-catalog{
  margin: 12px;
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid;
}

.links-catalog:hover{
  color: yellow;
  transform: scale(1.2);
}

