label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

.card-catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 390px;
  width: 300px;
  margin-bottom: 40px;
}

.imgContainer {
  height: 150px;
  width: 250px;
  overflow: hidden
}

.image-catalog-card {
  width: 100%;
  object-fit: cover;
}

#card-content-catalog {
  padding: 12px 44px;
}

#card-title-catalog {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

.btn-catalog {
  background: yellow;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c3c624;
  cursor: pointer;
  color: black;
  font-family: "Raleway SemiBold", sans-serif;
  font-weight: bold;
  height: 42.3px;
  padding-top: 12px;
  margin: 0 auto;
  transition: 0.25s;
  width: 153px;
  text-align: center;
}

.btn-catalog:hover {
  box-shadow: 0px 1px 18px black;
}

.underline-title-catalog {
  background: -webkit-linear-gradient(right, #ebdb05, #161616);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 100px;
}

@media(max-width: 600px) {
  .animation-catalog {
    animation-duration: 1s;
    animation-name: catalog;
  }

  @keyframes catalog {
    from {
      margin-top: 100%;
    }

    to {
      margin-top: 0%;
    }
  }
}