a {
  text-decoration: none;
}

.formContainer {
  background: url(../../images/sit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

#forgot-pass {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

.card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  width: 329px;
}

#card-content {
  padding: 12px 44px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

#signup {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

#submit-btn {
  background: yellow;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c3c624;
  cursor: pointer;
  color: black;
  font-family: "Raleway SemiBold", sans-serif;
  font-weight: bold;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}

#submit-btn:hover {
  box-shadow: 0px 1px 18px black;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border {
  background: black;
  height: 1.5px;
  width: 100%;
}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline-title {
  background: black;
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 99px;
}

.animation-auth {
  animation-duration: 2s;
  animation-name: example;
}

@keyframes example {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}